
<h1>
    Codial /<%= title%>
    <!-- <form action="/users/sign-in" method="GET">
        <input type="submit" value="Sign Out">
    </form> -->

</h1>
<section id="feed-posts">
    <h4>POSTS</h4>
    <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here....."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){%>
            
            <li>
                <p>
                    <%=post.content%>
                    <br>
                    <small>
                        <%=post.user.name%>
                    </small>
                </p>
            </li>            
            
            <%}%>
        
        </ul>
    </div>
</section>
